[user]
	name = Brandon Mittman
	email = BrandonMittman@gmail.com
[core]
	editor = nvim
[merge]
	tool = vimdiff
	conflictstyle = diff3
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)' --abbrev-commit --date=relative --all --decorate --color
[push]
	default = simple
[grep]
        extendRegexp = true
	lineNumber = true
[rerere]
        enabled = true
[rebase]
        autosquash = true
