[user]
	name = Brandon Mittman
	email = BrandonMittman@gmail.com
[core]
	editor = nvim
	excludesFile = /home/mittmanb/.gitglobalignore
[diff]
	tool = vimdiff
[difftool "vimdiff"]
        cmd = nvim -d $LOCAL $REMOTE
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
        cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)' --abbrev-commit --date=relative --all --decorate --color
[push]
	default = simple
[grep]
        extendRegexp = true
	lineNumber = true
[rerere]
        enabled = true
[rebase]
        autosquash = true
[pull]
	rebase = false
[commit]
	gpgsign = true
